<!DOCTYPE html>
<html>

<body>
    <h1>Structure Search</h1>
    <h2>Project Directory</h2>
    <form method="POST" action="set-proj-dir">
        <input type="text" name="proj-dir">
        <input type="submit" value="Submit">
    </form>
    <h2>Find File</h2>
    <div class="search-container">
        <input type="search" id="search" placeholder="Search..." autocomplete="False">
        <ul id="search-results" role="listbox"></ul>
    </div>
    <h2>Structures</h2>
    <button onclick="newView()">New View</button>
    <div id="struct-views-container">
        {% for view in state.views %}
        <div class="struct-view">
            <div class="sv-sel">
                {% for struct_desc in state.struct_descs %}
                <button onclick="makeSelection('{{ view.idx }}', '{{ struct_desc.name }}')">
                    {{ struct_desc.name }}
                </button>
                {% endfor %}
            </div>
            <div class="sv-code"></div>
                {% if view.selection %}
                    <pre><code>{{ view.desc.serialized }}</code></pre>
                {% endif %}
            <div class="sv-ref">
                {% if view.selection %}
                    {% for reference in view.desc.references %}
                        <button onclick="newView('{{ reference }}')">{{ reference }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="static/struct_search.js"></script>
</body>

</html>