<!DOCTYPE html>
<html>

<body>
    <h1>Structure Search</h1>
    <h2>Project Directory</h2>
    <form method="POST" action="set-proj-dir">
        <input type="text" name="proj-dir">
        <input type="submit" value="Submit">
    </form>
    <h2>Find File</h2>
    <div class="search-container">
        <input type="search" id="search" placeholder="Search..." autocomplete="False">
        <ul id="search-results" role="listbox"></ul>
    </div>
    <h2>Structures</h2>
    <div>
        {% for struct_references, struct_serialized in structs_serialized %}
        <pre><code>{{ struct_serialized }}</code></pre>
            {% for struct_reference in struct_references %}
            <button>{{ struct_reference }}</button>
            {% endfor %}
        {% endfor %}
    </div>
    <script src="static/struct_search.js"></script>
</body>
</html>